<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/post/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header class="card-header">
      <div>
        <p class="card-title" >{{title}}</p>
        <p class="card-date">Posted by {{user.username}} on {{format_date date_created}}</p>

      </div>
    </header>

    <p class="card-content">{{content}}</p>
  </a>
</section>