<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/post/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{title}}</header>
    <p>{{content}}</p>
    {{!-- <p>{{user_id}}</p> --}}
    <p>{{format_date date_created}}</p>


  </a>
</section>