{{#if loggedIn}}
<section class="painting">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="painting-details">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>posted by {{user_id}} on {{format_date post.date_created}}</p>

  </div>
</section>
{{/if}}