{{#if loggedIn}}
<section class="card">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}

    <header class="card-header">
    <p class = "card-title" >{{post.title}}</p>
    </header>
    <p class="card-content"></p>{{post.content}}</p>
    <p class = "card-date">posted by {{post.user.username}} on {{format_date post.date_created}}</p>

</section>
{{/if}}